<launch>

	<!-- ******************************************************************************************** -->
    <!-- ******************************************************************************************** -->
    <!-- Launch Gazebo -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="recording" value="false"/>
		<arg name="debug" value="false"/>
		<!-- <arg name="world_name" value="$(find abb_irb140_gripper_description)/worlds/grasp_table.world"/> -->
		<!-- <arg name="world_name" value="$(find abb_irb140_gripper_description)/worlds/picking.world"/> -->
	</include>

	<!-- ******************************************************************************************** -->
    <!-- ******************************************************************************************** -->
    <!-- Spawn robot in Gazebo -->

	<arg name="robot_name" default="abb_irb140"/>

	<!-- Set the name of the URDF File to read with XACRO -->
	<arg name="robot_xacro" value="$(find abb_irb140_gripper_description)/urdf/abb_irb140.urdf.xacro"/>

	<!-- Load the urdf into the parameter server -->
    <param name="robot_description" command="$(find xacro)/xacro $(arg robot_xacro)" />

    <!-- Robot state publisher with set frequency -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" >
        <rosparam param="publish_frequency">1000</rosparam>
    </node>

	<!-- Robot initial pose -->
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.0"/>
    <arg name="roll"  default="0.0"/>
    <arg name="pitch" default="0.0"/>
    <arg name="yaw"   default="0.0"/>

	<!-- Spawn robot in Gazebo -->
    <node 
        pkg="gazebo_ros" 
        type="spawn_model" 
        name="spawn_robot"  
        respawn="false"
        args="-x $(arg x) -y $(arg y) -z $(arg z)
            -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)
            -urdf 
            -param robot_description
            -model $(arg robot_name)"
    />

	<!-- ******************************************************************************************** -->
    <!-- ******************************************************************************************** -->
    <!-- Controllers -->

	<rosparam 
        file="$(find abb_irb140_gripper_description)/config/position_controllers.yaml" 
        command="load" 
    />

	<node 
        name="joint_ctrller" 
        pkg="controller_manager" 
        type="controller_manager" 
        respawn="false" 
        output="screen"
        args=  "spawn 
					joint_state_controller
					arm_controller
					gripper_controller"
    />

</launch>
